/**
* Anax Flat theme.
*/
// @import url(modules.less);
// @import url(mybasetypography.less);

@import url(base.less);

@import "https://fonts.googleapis.com/css?family=Montserrat|Roboto";

/* Color palette constructed from deeppink on paletton.com */
// @color-primary-0: #FF1494;	/* Main Primary color */
// @color-primary-1: #FE71BE;
// @color-primary-2: #FF42A9;
// @color-primary-3: #FF008B;
// @color-primary-4: #EB0080;
//
// @color-secondary-1-0: #14FF23;	/* Main Secondary color (1) */
// @color-secondary-1-1: #71FE7B;
// @color-secondary-1-2: #42FF4E;
// @color-secondary-1-3: #00FF11;
// @color-secondary-1-4: #00E80F;
//
// @color-secondary-2-0: #FCFF14;	/* Main Secondary color (2) */
// @color-secondary-2-1: #FDFF72;
// @color-secondary-2-2: #FDFF42;
// @color-secondary-2-3: #FCFF00;
// @color-secondary-2-4: #FBFF00;

// Color palette construkted from a graphic from Scott Albrecht
@color-primary-0: #D36247;	/* Main Primary color */
@color-primary-1: #FFB5A3;
@color-primary-2: #F58C73;
@color-primary-3: #B54226;
@color-primary-4: #8F260D;

@color-secondary-1-0: #316B85;	/* Main Secondary color (1) */
@color-secondary-1-1: #7CAABD;
@color-secondary-1-2: #4C839A;
@color-secondary-1-3: #1C5872;
@color-secondary-1-4: #0C435A;

@color-secondary-2-0: #87C041;	/* Main Secondary color (2) */
@color-secondary-2-1: #C8EF99;
@color-secondary-2-2: #AADF69;
@color-secondary-2-3: #6AA523;
@color-secondary-2-4: #4D820B;

/** --------------------------------------------------------------
 *  General stuff, tag-level
 */

// @fontFamilyHeadings:  "miriam libre", sans-serif;
// @fontFamilyBody:      "source sans pro", sans-serif;
@fontFamilyHeadings:  "Montserrat", sans-serif;
@fontFamilyBody:      "Roboto", sans-serif;
@fontFamilyCode:      @fontFamilyCourier;

h1, h2 {
    text-transform: uppercase;
}

a {
    color: @mainTextColor;
    text-decoration: none;
    border-bottom: 1px solid @color-secondary-1-0;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid @color-secondary-2-0;
}

a:visited {
    color: lighten(@mainTextColor, 25%);
}

/** --------------------------------------------------------------
 *  General stuff, wrapping classes
 */

.site-header {
    font-family: "miriam libre", sans-serif;
}

// // Site wide selected class
.selected a {
    background-color: @color-secondary-2-1;
}

/** --------------------------------------------------------------
 *  header styling
 */

.site-logo-text {
    font-weight: bold;
    font-size: x-large;
    border: 3px solid @mainTextColor;
    padding: 0 7px;
    letter-spacing: 0.1rem;
    a {
        color: @color-primary-0;
        border-bottom: none;
    }
}

.rm-desktop {
    li a {
        display: inline;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: none;
        border-bottom: none;
    }

    li a:hover {
        border-bottom: 3px solid @color-secondary-2-1;
        text-decoration: none;
    }

    li {
        border-left: 1px solid lighten(@mainTextColor, 50%);
    }

    .selected a {
        // text-decoration: underline;
        border-bottom: 3px solid @color-secondary-1-0;
        background-color: @mainBackgroundColor;
        text-decoration: none;
    }
    ul {
        padding: 1rem;
        li {
            box-shadow: none;
            margin-left: 0.5rem;
        }
    }
}

/** --------------------------------------------------------------
 *  Breadcrumb
 */
.breadcrumb-list {
    font-size: smaller;
    ul {
        list-style-type: none;
        display: flex;
        padding: 0;
    }

    li {
        text-transform: lowercase;
        &::before {
            content: "/";
            color: @mainTextColor;
        }
    }

    ul::before {
        content: "ur@: "
    }
}

/** --------------------------------------------------------------
 *  Main content area
 */

.sidebar-right {
    @media (max-width: @screen-medium) {
        border-top: 1px solid lighten(@mainTextColor, 55%);
        li {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}

.dragon {
    .floatImg256();
}

/** --------------------------------------------------------------
 *  Footer, inkluding byline
 */

.outer-wrap-footer {
    color: @mainBackgroundColor;
    background-color: @mainTextColor;
}

.footer {
    a {
        color: darken(@mainBackgroundColor, 25%);
    }
}
